*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#App {
  text-align: center;
  background-color: lightgrey;
  overflow-x: hidden;
}

.grid12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 15px;
}

